/* .med-yellow {color: #E6CE1D}
.light-yellow {color: #F4DD08}
.bright-yellow {color: #FDEC00}
.classy-grey {color: #403F45} */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap');

body {
    color: #403F45;
    background-color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    line-height: 2;
}

.main-content {
    width: 30vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-content {
    width: 40vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.url {
    color: #ebb811;
}

.article-title {
    color: #ebb811;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    color: #ebb811;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #ebb811;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    color: #ebb811;
    font-family: 'Open Sans', sans-serif;
}

#header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#footer {

}

#top-title {
    color: #403F45;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}

.routeLink {
    color: #403F45;
    text-decoration: none;
}

#home-body {
    text-align: left;
}

#talk-body {
    text-align: center;
}